<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# data science tools and ecosystem

#### there we are going to discuss about data science tools

### OBJECTIVES
##### -  languages used in data science
##### -  libraries used in data science
##### -  table of tools used in data science
##### -  arithmetic evaluation in python
##### -  work on jupyter notebook using code and markdown

### Some of the programming languages used in data scinece:
#### 1.python
#### 2.julia
#### 3.sql
#### 4.scala

### Some of the libraries used in data science 
#### 1.tensorflow
#### 2.scikit
#### 3.pytorch
#### 4.pandas

## here i am presenting a table containing data science tools

|Table|Data Science Tools|
|-----|-----|
|1|Rstudio|
|2|tensorflow|
|3|apache spark|

### here comes few examples of evaluating arithmetics in python

In [27]:
one=3
two=8
three=5
print(one*two+three)

29

### here we convert 200 minutes in hours by dividing by 60

In [28]:
minutes=200
dividingby=60
print(200/60)

3.3333333333333335

## AUTHOR
Muhammad Bilal